.flex-between{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* .main{
  background: linear-gradient(90deg, rgba(131,234,9,1) 0%, rgba(23,204,250,1) 100%);
  color: white;
} */

.drawer{
  width: 35px;
}

.flex{
  display: flex;
}

.justify-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin{
  margin: 0 0.5rem !important;
}

@media screen and (max-width: 450px) {
  .none{
      display: none;
  }
}